@import url("https://fonts.googleapis.com/css?family=Roboto");
@font-face {
  font-family: 'Glober';
  src: url("../fonts/glober/Glober Thin Free.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Glober';
  src: url("../fonts/glober/Glober SemiBold Free.otf") format("opentype");
  font-weight: bold;
  font-style: normal; }

body {
  font-family: "Glober", "Roboto", "sans-serif";
  font-size: 18px; }

header {
  color: #000;
  margin: 10px;
  font-weight: bold;
  font-size: 16px; }

.header-legend {
  margin-top: 10px;
  font-size: 20px; }

.top-banner {
  background-color: #4c813d;
  padding: 25px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  text-align: center; }
